* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body {
    background-color: aqua;
    font-size: medium;
}
header {
    position: sticky;
    top: 0;
}
main {
    background-color: turquoise;
    margin: 150px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 10px #494545;
}
.Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    margin: 20px;
    padding: 20px;
}
.Item > img {
    width: 220px;
    height: 190px;
}
.i {
    color: turquoise;
}
button {
    border: none;
    background-color: turquoise;
    outline: none;
}
button > img {
    width: 25px;
    height: 25px;
}
.quantity > input {
    width:20px;
    background-color: turquoise;
    border: none; 
}
#total-price {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: large;
    font-weight: bold;
}
#total-price > input {
    border: none;
    background-color:turquoise;
    font-family: cursive;
    font-size: large;
    font-weight: bold;
    margin-left: 10px;
}
footer {
    text-align: center;
}